<main
  [ngClass]="{
`whiteee`: selectedTheme,

}"
>
  <button (click)="changeThemeee()">Cambiar tema</button>
  <div class="border p-3">
    <h1>Aqui estan los datos asincronos</h1>
    <p>Esta cargando {{selectedLoading | async}}</p>
    <p>{{ selectedTheme | async }}</p>
    <p>{{ selectName | async }}</p>
    <h2>Valor neto</h2>
    <div>{{selectName.subscribe()}}</div>
    <p></p>

    <button app-button>Click me</button>
    
    <p>Este es el buttton component</p>
    <app-button></app-button>

  </div>

  <p>Actualizar props</p>
  <p>{{ name$ }}</p>


  
  <button ngpButton>Button</button>

  <input
    type="text"
    placeholder="Nombre nuevo del usuario"
    [(ngModel)]="newName"
  />

  <div>
    <button (click)="submitFormName()">Actualizar el nombre</button>
    <button (click)="changeThemeee()">Cambiame de tema</button>
  </div>
</main>

<router-outlet />
